<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html lang='En' xml:lang='En' xmlns='http://www.w3.org/1999/xhtml'>
<head>
	
	<title>GMS</title>

	<base href="">
	
	<meta charset="utf-8">
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=8' />
	<meta http-equiv='Pragma' content='no-cache' />
	<meta http-equiv='Expires' content='-1' />
    <meta name="referrer" content="no-referrer" />
	
	<meta name='Keywords' content='' />
	<meta name='Description' content='' />
	<meta name='robots' content='nofollow' />
	<meta name='author' content='GMS' />
	
	<script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/init.js"></script>
    
	<link type='image/x-icon' href='/assets/favicon.ico' rel='shortcut icon' />
	
	<link rel="stylesheet" href="/assets/index.css" />
    <link rel="stylesheet" href="/assets/index_extra.css" />
</head>

<body>
    
    {{.Menu}}
    
    <div class='dBaseBox'>
        <div class='boxList'>
            <h2>{{.Title}}</h2>
            
            <form id="fSearch" method="post" action="/search-list/" class="trSearch">
                <br />
                <table class='widthFull'>
                    <tr>
                        <th colspan="100">FREE SPACE: {{.FreeSpace}}</th>
                    </tr>
                    <tr>
                        <th>Search</th>
                        <th>Num. Files</th>
                        <th>Min. Size (MB)</th>
                        <th>Year Min.</th>
                        <th>Year Max.</th>
                        <th>Rating Max.</th>
                        <th>Actions</th>
                    </tr>
                    <tr class='trSearch'>
                        <td>
                            <input name='search' id='search' value='' 
                            list="search-dlist2" autocomplete="off"
                            />
                            <datalist id="search-dlist2"></datalist>
                        </td>
                        <td>
                            <input type="number" name='numfiles' id='numfiles' value='10' autocomplete="off" />
                        </td>
                        <td>
                            <input type="number" name='minsize' id='minsize' value='4096'  autocomplete="off" />
                        </td>
                        <td>
                            <select id='yearmin' name='yearmin'>
                                {{range .Years}}
                                <option value='{{.}}'>{{.}}</option>
                                {{end}}
                            </select>
                        </td>
                        <td>
                            <select id='yearmax' name='yearmax'>
                                {{range .Yearsi}}
                                <option value='{{.}}'>{{.}}</option>
                                {{end}}
                            </select>
                        </td>
                        <td>
                            <select id='maxrating' name='maxrating'>
                                {{range .Ratings}}
                                <option value='{{.}}'>{{.}}</option>
                                {{end}}
                            </select>
                        </td>
                        <td>    
                            <input onclick='g_post_form("/cleandisk-result/?preview=1", "fSearch", "dResultSearchExt")' type='button' id='bSearch' name='bSearch' value='PREVIEW' />
                            <input onclick='g_post_form("/cleandisk-result/", "fSearch", "dResultSearchExt")' type='button' id='bSearch' name='bSearch' value='DELETE' />
                        </td>
                    </tr>
                    <tr>
                        <td colspan=100>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan=100>
                            <div id='dResultSearchExt'></div>
                        </td>
                    </tr>
                </table>
                <br />
            </form>
            
        </div>
    </div>

</body>
</html>